:root {
  /* Expect fabric and warp to reset colors like color and background-color */  
  color: hotpink;
  background-color: rgb(105, 255, 108); 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  position: absolute;
  left: 250px;
  padding: 24px;
  width: calc(100vw - 250px)
}

.comparison {
  display: flex;
  width: 100%;
  justify-content: center;
}

.ds-section {
  margin: 24px;
  padding: 24px;
  min-width: 500px;
  align-items: center;
  gap: 10px;
}

.button-section {
  margin: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

main {
  overflow-y: scroll;
  height: 100vh;
}
